/* purgecss start ignore */

@import "tailwindcss/base";
@import "tailwindcss/components";

/* purgecss end ignore */

@import "tailwindcss/utilities";

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: theme("colors.primary");
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}

.dark-theme body {
    background-color: theme("colors.dark");
    color: theme("colors.darkFont");
}

.btn {
    @apply mx-2 rounded-lg py-2 px-4;
}

.todo-btn {
    width: 200px;
}

.todo-btn--selected {
    @apply bg-blue-700;
}

.parcela {
    @apply w-12 h-12 bg-gray-100 bg-opacity-25;
}

.milpa-interior {
    background-image: url("https://agrega.juntadeandalucia.es/repositorio/14072010/cd/es-an_2010071411_9134358/ODE-80b92200-12d8-3437-9c14-0327f042c5a4/madagascar.jpg");
}

ol,
ul {
    padding-left: 30px;
}
  
.board-row::after {
    clear: both;
    content: "";
    display: table;
}
  
.status {
    margin-bottom: 10px;
}
  
.square {
    background: #fff;
    border: 1px solid #999;
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 34px;
    height: 34px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 34px;
}
  
.square:focus {
    outline: none;
}
  
.kbd-navigation .square:focus {
    background: #ddd;
}
  
.game {
    display: flex;
    flex-direction: row;
}
  
.game-info {
    margin-left: 20px;
}

.milpa {
    background-color: #206a5d;
}
