/* purgecss start ignore */

@import "tailwindcss/base";
@import "tailwindcss/components";

/* purgecss end ignore */

@import "tailwindcss/utilities";

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: theme("colors.primary");
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}

.dark-theme body {
    background-color: theme("colors.dark");
    color: theme("colors.darkFont");
}

.btn {
    @apply mx-2 rounded-lg py-2 px-4;
}

.todo-btn {
    width: 200px;
}

.todo-btn--selected {
    @apply bg-blue-700;
}

.parcela {
    @apply w-12 h-12 bg-gray-100 bg-opacity-25;
}

.milpa-interior {
    background-image: url("https://www.researchgate.net/profile/Mauricio_Lopez22/publication/307578868/figure/fig4/AS:402032163868675@1472863345472/Figura-33-Tradicional-milpa-maya.png");
}

.crops-table {
    background-image: url("https://i.pinimg.com/originals/04/aa/9f/04aa9f8865a37416ed83e30a9ea1bb61.jpg");
}

.crop-card {
    @apply w-64 h-24 bg-gray-100 bg-opacity-25;
}

ol,
ul {
    padding-left: 30px;
}
  
.board-row::after {
    clear: both;
    content: "";
    display: table;
}
  
.status {
    margin-bottom: 10px;
}
  
.square {
    background: #fff;
    border: 1px solid #999;
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 34px;
    height: 34px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 34px;
}
  
.square:focus {
    outline: none;
}
  
.kbd-navigation .square:focus {
    background: #ddd;
}
  
.game {
    display: flex;
    flex-direction: row;
}
  
.game-info {
    margin-left: 20px;
}

.milpa {
    background-color: #206a5d;
}

.crops {
    background-color: #81b214;
}

.main-board {
    background-color: #bfdcae;
}
